# Do not change the line endings by default
* -text

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.csv text
*.h text
*.htm* text
*.md text
*.mo text
*.mos text
*.order text
*.py text
*.txt text
*.yml text
.gitattributes text
.gitignore text
LICENSE text

# list of files that git archive should ignore
.CI export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
Modelica_LinearSystems2/Resources/Documentation/Generate-ReleaseNotes.py export-ignore
Modelica_LinearSystems2/Resources/Documentation/MLS2-ReleaseNotes-Template.html export-ignore
LinearSystems2Test export-ignore
LinearSystems2TestConversion3.mo export-ignore

*.mo linguist-language=Modelica
